.skin-blue .input-group-btn > .btn {
    /*background: #658B6F;*/
    color: #DEE1DD;
    border-radius: 5px 5px 5px 5px;
    border-style: solid solid solid none;
}

.skin-blue .input-group-btn > .btn:hover {
    background: #2F575D;
    color: #C4CDC1;
    border-color: rgb(200,200,200);
}

.bg-light-blue, .label-primary, .modal-primary .modal-body {
    background-color: #28363d!important;
}

.progress {
    height: 5px;
}